<<<<<<< HEAD
=======
<h1>The Price is right Home</h1>
<p><%= flash[:notice] %> </p>
<p>Score: <%= score %></p>
<p>We got a  <%= @item.title %></p>
>>>>>>> 9373d560b7bd903b4b9b0d87fcb92ac7d2767cc7


<h1>The Price is Down Right Saucy!</h1>


<p>
	Score: <%= score %>
</p>
<p>
	We got a  <%= @item.title %>
</p>
<p>
	How much is this worth?
</p>
<% @num = 0 %>
<%  @item.choice.each do |c|  %>
<% @num += 1 %>
<a href=<%= "/pages/result?utf8=✓&choice=#{c}&item=#{@item.id}" %>><%= c %></a> <%= " | " if @num < @item.choice.size %>
<% end %>


<br>
<br>
<br>



