<center>
    <div class="description">
		<div class="lastgame">
        <p class="winorlose"><%= flash[:notice] %> </p>
        <p>Score: <font style="font-size: larger; color: red;"><%= score %></font></p>
		</div>
		<div class="currentgame">
        <p>Score: <font style="font-size: larger; color: red;"><%= score %></font></p>
        <p ><b><%= @item.title %></b></p>
        <p style="height: 350px"> <%= image_tag(@item.picture,:class=>"itempic") %></p>
        <p>Description: <%= @item.description %></p>

        <p><b>Guess the price?</b></p>
		</div>
    </div>

    <div class="bottom-cards">
        <%  @item.choice.each do |c|  %>
            <a href="javascript:closeLogo('<%="/pages/result?utf8=✓&choice=#{c}&item=#{@item.id}" %>');"><span class="card">$<%= c %></span></a>
        <% end %>
    </div>

</center>

<audio src="assets/crowdapplause1.mp3" preload>
 audio not supported
</audio>

<audio src="assets/crowdapplause1.mp3" preload>
 audio not supported
</audio>

<audio src="assets/crowdapplause1.mp3" preload>
 audio not supported
</audio>
