<center>
    <div class="description">
        <p class="winorlose"><%= flash[:notice] %> </p>
        <p>Score: <font style="font-size: larger; color: red;"><%= score %></font></p>
        <p>We got a  <b><%= @item.title %></b></p>
        <p> <%= image_tag @item.picture %></p>
        <p>Description: <%= @item.description %></p>

        <p>How much is this worth?</p>
    </div>

    <div class="bottom-cards">
        <%  @item.choice.each do |c|  %>
            <a href="javascript:closeLogo('<%="/pages/result?utf8=✓&choice=#{c}&item=#{@item.id}" %>');"><span class="card">$<%= c %></span></a>
        <% end %>
    </div>

</center>

<audio src="assets/crowdapplause1.mp3" preload>
 audio not supported
</audio>

<audio src="assets/crowdapplause1.mp3" preload>
 audio not supported
</audio>

