<p class="winorlose">
	<%= flash[:notice] %>
</p>
<p>
	Score: <%= score %>
</p>
<p>
	We got a  <%= @item.title %>
</p>
<p>
	<%= image_tag(@item.picture, :size=>"300x300",:class=>"itempic") %>
</p>
<p>
	Description: <%= @item.description %>
</p>
<p>
	How much is this worth?
</p>
<% @num = 0 %>
<%  @item.choice.each do |c|  %>
<% @num += 1 %>
<a href=<%= "/pages/result?utf8=✓&choice=#{c}&item=#{@item.id}" %> class="test"><%= c %></a> <%= " | " if @num < @item.choice.size %>
<% end %>

<audio src="assets/crowdapplause.mp3">
 audio not supported
</audio>

