<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>The Price is Downright Saucy!</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript">

		if (window.location.href.indexOf("win") != -1) {
			$(document).ready(function () {
			setTimeout(function () {
				$('.doorLeft.door1').animate({ left: '-22%' }, 500);
				$('.doorLeft.door2').animate({ left: '-19%' }, 500);
				$('.doorRight.door1').animate({ right: '-22%' }, 500);
				$('.doorRight.door2').animate({ right: '-19%' }, 500, function() {
					$('.mainArea').css('z-index', '999');
				});
			}, 250);
			});
		} else {
			$(document).ready(function () {
				setTimeout(function () {

					$('.doorLeft.door2').animate(
			{ left: '3%' }, 1000, function () {
				$('.doorLeft.door1').animate({ left: '-22%' }, 1000);
				$('.doorLeft.door2').animate({ left: '-19%' }, 1000);
			});

					$('.doorRight.door2').animate(
			{ right: '3%' }, 1000, function () {
				$('.doorRight.door1').animate({ right: '-22%' }, 1000);
				$('.doorRight.door2').animate({ right: '-19%' }, 1000, function() {
					$('.mainArea').css('z-index', '999');
				});
			});

				}, 2000);
			});
		}

	function closeLogo(link) {
			$('.mainArea').css('z-index', '2');


			$('.doorLeft.door1').animate({ left: '0%' }, 500);
			$('.doorLeft.door2').animate({ left: '25%' }, 500);
			$('.doorRight.door1').animate({ right: '0%' }, 500);
			$('.doorRight.door2').animate({ right: '25%' }, 500, function () {
				window.location.href = link;

			});


		}
	</script>
		<%= stylesheet_link_tag    "application" %>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	
	<div class="border border3">
		<div class="border border2">
			<div class="border border1">
				<div class="stage">
					<div class="doors">
						<div class="shadow">
						</div>
						<div class="doorLeft door1 door">
							<div class="panel">
							</div>
							<div class="panel panel2">
							</div>
						</div>
						<div class="doorLeft door2 door">
							<div class="panel">
							</div>
							<div class="panel panel2">
							</div>
						</div>
						<div class="doorRight door1 door">
							<div class="panel">
							</div>
							<div class="panel panel2">
							</div>
						</div>
						<div class="doorRight door2 door">
							<div class="panel">
							</div>
							<div class="panel panel2">
							</div>
						</div>
					</div>
					<div class="mainArea">

		<%= yield %>
		
		</div>
				</div>
				<div class="floor">
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
